<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>BookFilter</filter-name>
        <filter-class>project.bookreseller.filter.BookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BookFilter</filter-name>
        <url-pattern>/Book/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>TestConnectionServlet</servlet-name>
        <servlet-class>project.bookreseller.servlet.TestConnectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBook</servlet-name>
        <servlet-class>project.bookreseller.servlet.LoadBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>project.bookreseller.servlet.UploadBookCover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMemberPicture</servlet-name>
        <servlet-class>project.bookreseller.servlet.UploadMemberPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookDescription</servlet-name>
        <servlet-class>project.bookreseller.servlet.LoadBookDescription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuildCategory</servlet-name>
        <servlet-class>project.bookreseller.servlet.BuildCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeSiteMap</servlet-name>
        <servlet-class>project.bookreseller.servlet.ChangeSiteMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>project.bookreseller.servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>project.bookreseller.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>project.bookreseller.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>project.bookreseller.servlet.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>project.bookreseller.servlet.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteItem</servlet-name>
        <servlet-class>project.bookreseller.servlet.deleteItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCart</servlet-name>
        <servlet-class>project.bookreseller.servlet.ClearCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>project.bookreseller.servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>project.bookreseller.servlet.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCart</servlet-name>
        <servlet-class>project.bookreseller.servlet.SaveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetOldProfile</servlet-name>
        <servlet-class>project.bookreseller.servlet.SetOldProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>project.bookreseller.servlet.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuthorServlet</servlet-name>
        <servlet-class>project.bookreseller.servlet.AddAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>project.bookreseller.servlet.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPublisher</servlet-name>
        <servlet-class>project.bookreseller.servlet.AddPublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookForEdit</servlet-name>
        <servlet-class>project.bookreseller.servlet.SearchBookForEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendDataForEdit</servlet-name>
        <servlet-class>project.bookreseller.servlet.SendDataForEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>project.bookreseller.servlet.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCommentForAdmmin</servlet-name>
        <servlet-class>project.bookreseller.servlet.SearchCommentForAdmmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestConnectionServlet</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBook</servlet-name>
        <url-pattern>/LoadBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMemberPicture</servlet-name>
        <url-pattern>/UploadMemberPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookDescription</servlet-name>
        <url-pattern>/Books/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuildCategory</servlet-name>
        <url-pattern>/BuildCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeSiteMap</servlet-name>
        <url-pattern>/ChangeSiteMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteItem</servlet-name>
        <url-pattern>/deleteItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCart</servlet-name>
        <url-pattern>/ClearCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/sendComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCart</servlet-name>
        <url-pattern>/SaveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetOldProfile</servlet-name>
        <url-pattern>/SetOldProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuthorServlet</servlet-name>
        <url-pattern>/AddAuthorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPublisher</servlet-name>
        <url-pattern>/AddPublisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookForEdit</servlet-name>
        <url-pattern>/SearchBookForEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendDataForEdit</servlet-name>
        <url-pattern>/SendDataForEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCommentForAdmmin</servlet-name>
        <url-pattern>/SearchCommentForAdmmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
